/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
  width: 90%;
}

/* Default */
*
{
  color: #000000;
}
html
{
  background-color: #FFFFFF;
}

body
{
  width: 99%;
  margin: auto;
}

/* header */
.logo {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat; 
  width: 320px;
  height: 324px;
  float: left;
  margin-left: 40px;
}

header
{
  width: 100%;
  height: 324px;
}

header > a {
  color: #FFFFFF;

  float: left;
  font-size: 3em;
  position: relative;
  text-decoration: none;
  top: 75%;
  transform: translateY(-50%);
}

#utilisateur {
  float: right;
  display: inline-block;
}

body footer, body header {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 20px);
}

header ul {
  height: 100%;
  float: left;
}

header ul a {
  text-decoration: none;
  color: #742775;
  display: block;
  padding-top: 120px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 25px;
}

header ul a:hover {
  color: #C2C1C6;
}

header ul li 
{
  float: left;
  list-style: outside none none;
  margin: 30px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
}

header img
{
  float:left;
}

nav .selected {
  color: #666666;
  text-decoration: underline;
}

nav
{
  float: right;
}

nav > a {
  display: block;
  float: left;
  margin-top: 32px;
}
/* footer */
footer 
{
  color: #732876;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  float:left;
}

footer nav
{
  float: left;
}

footer ul a
{
  text-decoration: none;
    color: #732876;
}

footer ul li 
{
  list-style: outside none none;
  color: #732876;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

.partage
{
  margin-top: 25px;
  margin-left: 30px;
}

.copyright
{
  position: relative;
  right: -160px;
}

.footer_bas
{
  margin-top: 25px;
}

/* PAGE */
.page {
  background-color: #FFFFFF;
  border-radius: 10px;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 26px;
  min-height: 500px;
  height: 100%;
  width: calc(100% - 40px);
  text-align: center;
}

h1
{
   font-size: 3em;
   text-align: center;
   width: 100%;
}

h2, .h2
{
   font-size: 22px;
   text-align: center;
   color: #9400D3 !important; 
}

h3, .h3
{
   font-size: 16px;
   text-align: center;
   color: #4B0082 !important; 
}

.button 
{
  transition-duration: 0.4s;
  transition-property: background-color, color;
    
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #732876;

  background-color: #732876;
  color: #FFFFFF;

  border-radius: 5px;
  text-decoration:none;

  text-align: center;
}

.button:hover 
{
  color: #732876;
  background-color: unset;
  cursor: pointer;
}



.ism-slider {
  text-align: center;
}


/* Page Accueil */
 .detail
 {
   width: 100%;
   margin-top: 60px;
   margin-bottom: 200px;
}
  
.detailPageAccueilGauche 
 {
   width: 50%;
   float:left;
   margin-bottom: 140px;
}

.descriptionGauche 
{  
    width: 80%;
}

.photoPrincipalGauche
{
  width: 80%;
  margin-top: 150px;
  margin-left: 140px;
}

.detailPageAccueilDroite
 {
   width: 50%;
   float:right;  
}  

.photoPrincipalDroite
{
  width: 100%;
  margin-top: 50px;
  margin-left: 120px;
}
  
.infoLabel
{
  display: block;
  width: 100%;
  float: left;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-left: 160px;
  color: #732876; 
  text-align: justify;
}

.descriptionDroite
{
  margin-left:40px;

}


/* Collection */
.collection
{
  width: 96%;
  margin-top: 100px;
  margin-left: 2%;
  border-style: solid;
  border-width: 1px;
  border-color: #696969;
  border-collapse: collapse;
  padding-left: 20px;
  padding-right: 20px;
}

.combobox-group
{
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.control-label
{
  text-align: left;
  margin-right: 250px;
}

#label-categorie
{
  margin-right: 262px;
}

.combobox
{
  width: 98% !important;
  margin-left: 2% !important;
}

.produit
{
  padding-bottom: 20px;
}


/* Formulaires Nous Joindre et Services*/
.formulaireNousJoindre, .formulaireServices
{
  width:100%;
  text-align: left;
  margin-left:60px; 
  color: #732876;
}

.titreFormulaire
{
  font-size: 1.7em;
  margin-top: 20px;
}

.labelFormulaireNousJoindre, .labelFormulaireServices
{
  font-size: 1.2em;
  margin-top: 16px; 
}

.spanNousJoindre,.infoDetail, .spanServices, .selectService, .optionSelectService
{
  color: #732876;
}

.message
{
  margin-bottom: 20px;
}

.buttonEnvoyer
{
  padding-left: 380px;
}



/* Media queries */
@media (max-width: 1280px)
{
  
}

@media (max-width: 1200px)
{
  .logo {
    width: 275px;
    height: 278px;
  }

  header ul a {
    font-size: 22px;
  }
  
  header ul li {
    margin-left: 25px;
    margin-right: 25px;
  }

  .menuBottom {
    display: none;
  }
  
  .copyright {
  position: relative;
  right: 0;
  left: 0;
  text-align: center;
  }
}

@media (max-width: 1064px)
{
  .logo {
    width: 225px;
    height: 228px;
  }

  header ul a {
    font-size: 20px;
  }
  
  header ul li {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .ism-slider {
    margin-top: 60px;
  }

}

/* Petite tablette */
@media (max-width:  860px)
{
  .logo {
    width: 225px;
    height: 228px;
  }

  header ul a {
    font-size: 18px;
  }
  
  header ul li {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Téléphone */
@media (max-width: 360px)
{
}

