/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summFary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
  width: 90%;
}

/* Default */
*
{
  color: #000000;
}

html, body
{
  /* overflow: hidden; */
  height: 100%;
	font-family: Eras Demi ITC !important;
}

html
{
  background-color: #FFFFFF;
}

body
{
  width: 99%;
  margin: auto;
}

/* header */
.logo {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat; 
  width: 320px;
  height: 344px;
  float: left;
  margin-left: 40px;
  margin-top: 30px;
  padding-top:20px;
  text-align:center;
}

header
{
  width: 100%;
  height: 324px;
}

header > a {
  color: #FFFFFF;

  float: left;
  font-size: 3em;
  position: relative;
  text-decoration: none;
  top: 75%;
  transform: translateY(-50%);
}

body footer, body header {
  background-color: #FFFFFF;
  padding: 10px;
  width: calc(100% - 20px);
}

header ul {
  height: 100%;
  float: left;
}

header ul a {
  text-decoration: none;
  color: #742775;
  display: block;
  padding-top: 60px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 25px;
}

header ul a:hover {
  color: #C2C1C6;
}

header ul li 
{
  float: left;
  list-style: outside none none;
  margin: 60px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
}

header img
{
  float:left;
}

nav .selected {
  color: #666666;
  text-decoration: underline;
}

nav
{
  float: right;
}

nav > a {
  display: block;
  float: left;
  margin-top: 28px;
}
/* footer */
footer 
{
  color: #732876;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  float:left;
}

footer nav
{
  float: left;
}

footer ul a
{
  text-decoration: none;
  color: #732876;
}

footer ul li 
{
  list-style: outside none none;
  color: #732876;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

/* MENU */
.menuLogo
{
  float:left;
}

.menuLinks
{
  float:right;
  height:100%;
}


.menuUtilisateur
{
  display: inline-block;
  float:right;
  height:30%;
}

.linkMenuUtilisateur
{
  font-size: 0.9em;
  padding:0;
}

.optionMenuUtilisateur 
{
  margin-left: 5px;
  margin-right: 5px;
  border-right: 1px solid #9B9A9A;
  padding-right:10px;
  
}

.optionMenuUtilisateur:last-child 
{
  border-right:none;
}

.menuUtilisateur>ul
{
  margin-right: 16px;
}


/* Footer */
footer
{
  bottom: 0%;
}

.partage
{
  margin-top: 25px;
  margin-left: 30px;
}

.menuBottom 
{
  text-align: left;
}

.copyright
{
  text-align: right;
}

.footer_bas
{
  margin-top: 25px;
}

/* PAGE */
.page {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 26px;
  min-height: 500px;
  height: 100%;
  width: calc(100% - 40px);
  text-align: center;
}

h1
{
   font-size: 3em;
   text-align: center;
   width: 100%;
	 color: #8C1A8C !important;
}

h2, .h2
{
   font-size: 22px !important;
   text-align: center;
   color: #4B0082 !important; 
}

h3, .h3
{
   font-size: 16px !important;
   text-align: center;
   color: #3f3f3f !important; 
}

label 
{
	font-weight: normal !important;
}

.button 
{
  transition-duration: 0.4s;
  transition-property: background-color, color;
    
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #732876;

  background-color: #732876;
  color: #FFFFFF;

  border-radius: 5px;
  text-decoration:none;

  text-align: center;
}

.button:hover 
{
  color: #732876;
  background-color: unset;
  cursor: pointer;
}



.ism-slider {
  text-align: center;
}


/* Page Accueil */
 .detail
 {
   width: 100%;
   margin-top: 60px;
   margin-bottom: 200px;
}
  
.detailPageAccueilGauche 
 {
   width: 50%;
   float:left;
   margin-bottom: 140px;
}

.descriptionGauche 
{  
    width: 80%;
}

.photoPrincipalGauche
{
  width: 80%;
  margin-top: 150px;
  margin-left: 140px;
}

.detailPageAccueilDroite
 {
   width: 50%;
   float:right;  
}  

.photoPrincipalDroite
{
  width: 100%;
  margin-top: 50px;
  margin-left: 120px;
}
  
.infoLabel
{
  display: block;
  width: 100%;
  float: left;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-left: 160px;
  color: #732876; 
  text-align: justify;
}

.descriptionDroite
{
  margin-left: 40px;
}


/* Collection */
.collection
{
  width: 100%;
  margin-top: 100px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 30px;
}

.collection, .img-produit, .prix, .bouton-detail
{
  border-style: solid !important;
  border-width: 1px !important;
  border-color: black !important;
  border-collapse: collapse !important;
}

.img-produit
{
  border-bottom: none !important;
  width: 100% !important;
}

.combobox-group
{
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.control-label
{
  text-align: left;
  margin-right: 80%;
}

.produit
{
  padding-bottom: 20px;
}

.combobox
{
  width: 98% !important;
  margin-left: 2% !important;
}

.prix
{
  float: left;
  width: 40%;
  margin-top: 0px;
  height: 34px;
  text-align: center;
  padding-top: 7px;
}

.bouton-detail
{
  width: 60%;
  float: right;
  border-radius: 1px !important;
  font-size: 16px !important;
  height: 34px;
  background-color: rgb(75, 0, 130) !important;
}

.page-active > a
{
  background-color: rgb(75, 0, 130) !important;
}


/* Produit_detail */
.detail-produit
{
  margin-top: 2%;
}

.row-titre
{
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: rgba(63, 63, 63, 0.5);
}

.titre-produit
{
	margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.img-produit-detail
{
	margin-top: 10%;
}

.img-produit-detail, .tableau-detail
{
  float: right;
}

.img-autres-produits
{
  border-style: solid;
	border-width: 1px;
}

.info-produit
{
	margin-top: 3%;
}

.row-info-produit
{
	margin-bottom: 4% !important;
}

.row1-info-produit
{
  margin-bottom: 1% !important;
}

.row2-info-produit
{
  margin-bottom: 6% !important;
}

.row2-col-droite2
{
  margin-top: 4% !important;
  float: left;
  margin-left: 10%;
}

.row2-col-droite
{
  margin-top: 4% !important;
  float: right;
}

.col-droite1
{
  float: right;
}

.row-col-droite2
{
  float: left;
  margin-left: 10%;
}

.icon
{
  width: 25px;
  float: right;
}

.col-gauche
{
  float: left !important;
}

.col-droite
{
  float: right;
}

.quantite
{
	width: 75% !important;
  float: left;
	height: 31px;
  padding-left: 12px;
}

.combobox-group-detail
{
	width: 75% !important;
	padding: 0 !important;
}

.combobox-taille
{
  margin-left: 0px !important;
}

.col-charte
{
	margin-top: 6% !important;
}

.col-bas-droite
{
	float: left !important;
	margin-top: 0;
}

.icone-partage
{
  /* margin-left: 15px; */
}

.titre-detail
{
	margin-top: 0px !important;
}

.row-bas
{
  margin-top: 2% !important;
}

.autres-produits
{
	/*margin-top: 3%;*/
}


.img-autres-produits
{
  width: 90% !important;
	margin-top: 10%;
}

/* Formulaires Nous Joindre et Services*/
.formulaireNousJoindre, .formulaireServices, .formulaireInscription
{
  width: 415px;
  text-align: left;
  margin-left: 60px; 
  color: #732876;
  height: 100%;
}

.titreFormulaire
{
  font-size: 1.7em;
  margin-top: 20px;
}

.labelFormulaireNousJoindre, .labelFormulaireServices, .labelFormulaireInscription
{
  font-size: 1.2em;
  margin-top: 16px; 
}

.spanNousJoindre,.infoDetail, .spanServices, .selectService, .optionSelectService, .spanInscription, .spanInfolettre
{
  color: #732876;
}

.buttonEnvoyer
{
  text-align:right;
  margin-top: 30px;
  -webkit-margin-start: 380px; 
   
}

.spanServicesInformation
 {
   text-align:justify;
   color: #732876;

 }        
 
.informationFormulaire
{
  padding-bottom: 30px;
}

/* Formulaire inscription  */

.adresse2, 
{
  width: 100%;
}

.adresse3, .adresse4
{
  width: 100%;
  float:left;
}

.codePostale
{
 width: 39%; 
 float:left;
}

.ville
{
  width:61%;
  float:right;
  
}

.selectProvince, .selectPays
{
  width: 276px;
  font-size: 1.2em;
  color: #732876;
}

.selectVille
{
  font-size: 1.2em;
  color: #732876;
}

.infolettre
{
  width:500px;
  text-align:justify;
  font-size: 0.8em;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonEnvoyerInscription
{
   width: 100%;
   float: right;
   margin-top: 40px;
   margin-bottom: 60px;
}



/* Media queries */
@media (max-width: 1280px)
{
  
}

@media (max-width: 1200px)
{
  .logo {
    width: 275px;
    height: 278px;
  }

  header ul a {
    font-size: 22px;
  }
  
  header ul li {
    margin-left: 25px;
    margin-right: 25px;
  }

  .menuBottom {
    display: none;
  }
  
  .copyright {
    position: relative;
    right: 0;
    left: 0;
    text-align: center;
    float: none;
  }
}

@media (max-width: 1064px)
{
  .logo {
    width: 225px;
    height: 228px;
  }

  header ul a {
    font-size: 20px;
  }
  
  header ul li {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .ism-slider {
    margin-top: 60px;
  }

}

/* Petite tablette */
@media (max-width: 860px)
{
  body
    {
    font-size: 16px;
  }

  .logo {
    width: 225px;
    height: 228px;
  }

  header ul a {
    font-size: 18px;
  }
  
  header ul li {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .info-produit
   {
    margin-top: 5%;
  }
  
  .img-3
    {
    display: none !important;
  }
}

/* Téléphone */
@media (max-width: 360px)
{
  body
    {
    font-size: 20px;
  }
  
  .info-produit
   {
    margin-top: 5%;
  }
  
  .img-3
    {
    display: none;
  }
}

@media (max-width: 220px)
{
  body
    {
    font-size: 20px;
  }
  
  .info-produit
   {
    margin-top: 5% !important;
  }
  
  .img-3
    {
    display: none !important;
  }
}

