html{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #fafafa;
	padding: 0px;
	margin: 0px;
}
header{
	width: 100%;
	height: 120px;
	color:black;
}
a{
	color: #4a4a4a;
	font-weight: bolder;
	font-size: 1.2rem;
	text-decoration: none;
}
header a{
	width: 50px;

	left: 90%;
	display: inline-block;
	vertical-align: top;
	position: fixed;
	z-index: 2;
	

}
header a img{
	width: 100%;
}
section{
	width: 80%;
	min-height: 500px;
	padding: 2%;
	margin:0 auto;
	margin-left: 10%;
	margin-top: 50px;
}
#logo{
	width: 150px;
	height: 150px;
	display: inline-block;
	vertical-align: top;
	position:absolute;
	z-index: 2;
	left: 10%;
	-webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(74, 74, 74, 0.75);
	box-shadow:         0px 0px 10px rgba(74, 74, 74, 0.75);
}
.producto{
	width: 20%;
	height: auto;
	
	display: inline-block;
	vertical-align: top;
	margin-left: 1%;
	margin-top: 1%;
	color: #4a4a4a;
	font-weight: bolder;
	font-size: 1.2rem;
	padding: 1%;
	-webkit-box-shadow: 0px 0px 10px rgba(240, 240, 240, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(240, 240, 240, 0.75);
	box-shadow:         0px 0px 10px rgba(240, 240, 240, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
}

.produit img{
	width: 200px;
	height: 200px;
	margin:0 auto;
	-webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(74, 74, 74, 0.75);
	box-shadow:         0px 0px 10px rgba(74, 74, 74, 0.75);
}

.produit a{
	background-color: #4a4a4a;
	padding: 3px;
	color: white;
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
}
.ouvrirSession{
	background-color: #732876;
	color:white;
	padding-left: 20px;
	padding-right: 20px;
	margin-top:25px;
	border-radius: 4px;
	font-size: 1.3rem;


}
.ouvrirSession:hover{
	background-color: #4a4a4a;
	cursor: pointer;
}
nav {
  width  : 35%;
  position: absolute;
  z-index: 3;
  left: 18%;
  top:.5%;
}



li {
  list-style-type : none;
  float   : left;
  cursor  : pointer;
  padding : 3px 10px;

}


li a {
  display : block;
  padding : 10px 13px;
  font-size : 26px;
  text-decoration : none;
  border-radius   : 5px;
  top   : 0;

}

li:hover a {
  top   : -20px;
  color : black;
 
 
}




/*************************************/



.menu2 a {
  font-family : georgia;
  font-size   : 14px;
  font-style  : italic;
  text-transform : capitalize;
}



.selected {
  top   : -20px;
  color : #732876;
  box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);

}

.selected:after {
  border-color : white transparent transparent transparent;

}



#formulario{
	width: 50%;
	height: auto;	
	margin:0 auto;
}
input{
	width: 20%;
	height: 30px;
	border:1px solid #fafafa;
	color:#1e1e1e;
}


#linkMagasiner{
  margin-top:30px;
  padding-top:30px;	
}

.headerCompte{
	width: 100%;
}

.titreCompte{
	width:50%;
	float : left
	
}

.menuCompte{
	width:50%;
	float:right;
}

.panierCompte{
	width: 100%;
	float:right;
}
